{% extends "base.html" %}
{% block headings %}
<h1>Welcome {{user.name}}!</h1>
{% endblock %}

{% block body %}
<ul class="navBar">
    <li><a href="/projects/new/">New Project</a></li>
    <li><a href="/portfolios/new">Add a Portfolio</a></li>
    <li><a href="/logout/">Logout</a>
</ul>
<table>
    <h2>Your projects</h2>
    <thead>
        <tr>
            <th>Project Number</th>
            <th>Project Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>
                <a href="/projects/{{project.id}}/">Go</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}