<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>
<body>
    <h1>Welcome {{user.name}}!</h1>
    <a href="/projects/new/">New Project</a>
    <a href="/portfolios/new">Add a Portfolio</a>
    <a href="/logout/">Logout</a>
    <table>
        <thead>
            <tr>
                <td>Project Number</td>
                <td>Project Name</td>
                <td>Link</td>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{project.number}}</td>
                <td>{{project.name}}</td>
                <td>
                    <a href="/projects/{{project.id}}/">Go</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>