<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>

<body>
    <h1>{{ account.name }}</h1>
    <h2>{{ account.number }}</h2>
    <a href="/projects/{{project.id}}/portfolios/{{portfolio.id}}/accounts/{{account.id}}/">Back</a>
    <form method="POST" action="/projects/{{project.id}}/portfolios/{{portfolio.id}}/accounts/{{account.id}}/proposals/new">
        {% csrf_token %}
        <div>
            <label for="method">Select Method:</label>
            <select name="method">
                <option value="HIFO">Highest Cost, First Out</option>
                <option value="LIFO">Last In, First Out</option>
                <option value="FIFO">Last In, First Out</option>
            </select>
        </div>
        <div>
            <label for="numberOfPortfolios">Number of Portfolios:</label>
            <input name="numberOfPortfolios"></input>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Ticker</td>
                    <td>Name</td>
                    <td>Total Federal Cost</td>
                    <td>Total State Cost</td>
                    <td>Units</td>
                    <td>Shares to Distribute</td>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                <tr>
                    <td>{{ holding.ticker }}</td>
                    <td>{{ holding.name }}</td> 
                    <td>{{ holding.totalFederalCost }}</td>
                    <td>{{ holding.totalStateCost }}</td>
                    <td>{{ holding.totalUnits }}</td>
                    <td>
                        <input name={{holding.ticker}}></input>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button>Split/Distribute Portfolio</button>
    </form>
</body>

</html>