<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>

<body>
    <h1>{{ portfolio.name }}</h1>
    <h2>{{ portfolio.number }}</h2>
    <a href="/dashboard/">Dashboard</a>
    <a href="/logout/">Logout</a>
    <table>
        <h2>Accounts</h2>
        <thead>
            <tr>
                <td>Account Name</td>
                <td>Account Number</td>
                <Td>Action</Td>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number}}</td>
                <td>
                    <a href="/projects/{{project.id}}/portfolios/{{portfolio.id}}/accounts/{{account.id}}/">Link</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>