<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>

<body>
    <h1>{{ project.name }}</h1>
    <h2>{{ project.number }}</h2>
    <a href="/projects/{{project.id}}/portfolios/">New Proposal</a>
    <a href="/projects/{{project.id}}/">Project Dashboard</a>
    <a href="/dashboard/">Dashboard</a>
    <a href="/logout/">Logout</a>
    <table>
        <h2>Select Portfolio for New Proposal:</h2>
        <thead>
            <tr>
                <td>Portfolio Name</td>
                <td>Portfolio Number</td>
                <Td>Action</Td>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.name}}</td>
                <td>{{ portfolio.number}}</td>
                <td>
                    <a href="/projects/{{project.id}}/portfolios/{{portfolio.id}}">Link</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>