{% extends "base.html" %}

{% block body %}
<h1>{{ project.name }}</h1>
<h2>{{ project.number }}</h2>
<a href="/projects/{{project.id}}/portfolios">New Proposal</a>
<a href="/dashboard/">Dashboard</a>
<a href="/logout/">Logout</a>
<table>
    <h2>Proposals</h2>
    <thead>
        <tr>
            <th>Proposal Id</th>
            <th>Proposal Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in project.proposals.all %}
        <tr>
            <td>{{proposal.id}}</td>
            <td>{{proposal.name}}</td>
            <td>
                <a href="/proposals/{{proposal.id}}/">View</a>
                <a href="/proposals/{{proposal.id}}/edit/">Edit</a>
                <a href="/proposals/{{proposal.id}}/delete/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
