<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>

<body>
    <h1>{{ project.name }}</h1>
    <h2>{{ project.number }}</h2>
    <table>
        <h2>Portfolios</h2>
        <thead>
            <tr>
                <td>Portfolio Name</td>
                <td>Portfolio Number</td>
                <Td>Action</Td>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.name}}</td>
                <td>{{ portfolio.number}}</td>
                <td>
                    <a href="/projects/{{project.id}}/portfolios/{{portfolio.id}}">Link</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <h2>Proposals</h2>
        <thead>
            <tr>
                <td>Proposal Name</td>
                <td>Proposal Number</td>
                <td>Related Portfolios</td>
            </tr>
        </thead>
        {% for proposal in project.proposals.all %}
        <tbody>
            <tr>
                <td>proposal.number</td>
                <td>proposal.name</td>
                <td>
                    <ul>
                        {% for draftPortfolio in proposal.draftPortfolios.all %}
                        <li>{{draftPortfolio.name}} | {{draftPortfolio.number}}</li>
                        {%endfor%}
                    </ul>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>

</html>