{% extends "base.html" %}
{% load proposal_extras %}
{% load humanize %}
{% load static %}

{% block headerExtras %}
<link rel="stylesheet" href="{% static 'css/proposal.css' %}">
{% endblock %}

{% block footerExtras %}
<script src="{% static 'js/proposal.js' %}"></script>
{% endblock %}

{% block headings %}
    <h1>Proposal Name: {{ proposal.name }}</h1>
    <h2>Proposal Number: {{ proposal.number }}</h2>
    <a href="/proposals/{{proposal.id}}/edit">Edit</a>
    <a href="/projects/{{proposal.project.id}}/">Back</a>
    <a href="/dashboard/">Dashboard</a>
    <a href="/logout/">Logout</a>
{% endblock %}

{% block body %}
{% proposalTable proposal summaryTotals proposalLots %}
{% endblock %}




