{% load proposal_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Divider</title>
</head>

<body>
    
    <h1>Proposal Name: {{ proposal.name }}</h1>
    <h2>Proposal Number: {{ proposal.number }}</h2>
    <a href="/proposals/{{proposal.id}}/edit">Edit</a>
    <a href="/projects/{{proposal.project.id}}/">Back</a>
    <a href="/dashboard/">Dashboard</a>
    <a href="/logout/">Logout</a>
    {% for draftHolding, draftLots in proposalSummary.lots.items %}
    <h2>{{draftLots.first.draftHolding.draftAccount.draftPortfolio.name}}</h2>
    <h2>{{draftLots.first.draftHolding.draftAccount.draftPortfolio.number}}</h2>
    <table>
        <thead>
            <tr>
                <td>Ticker</td>
                <td>Lot Reference Number</td>
                <td>Units Used</td>
                <td>Units In Lot</td>
                <td>Total Federal Cost</td>
                <td>Cost Per Share</td>
            </tr>
        </thead>
        <tbody>
            {% for lot in draftLots.all %}
            <tr>
                <td>{{lot.draftHolding.security.ticker}}</td>
                <td>{{lot.number}}</td>
                <td>{{lot.units}}</td>
                <td>{{lot.unitsAvailable}}</td>
                <td>{{lot.totalFederalCost}}</td>
                <td>{{lot.cps}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>

</html>