{% load proposal_extras %}
<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Referenced Lot</th>
            {% for draftPortfolio in proposal.draftPortfolios.all %}
            <th>Units in Draft Account {{draftPortfolio.draftAccounts.first.id}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for lot in test %}
        <tr>
            <td>{{lot.holding.security.ticker}}</td>
            <td>{{lot.number}}</td>
            {% for draftPortfolio in proposal.draftPortfolios.all %}
                <td>{{lot|getUnitsFromDraftLot:draftPortfolio.draftAccounts.first}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>