{% load proposal_extras %}
<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Referenced Lot</th>
            {% for draftPortfolio in proposal.draftPortfolios.all %}
            <th>Units in Draft Account {{draftPortfolio.draftAccounts.first.id}}</th>
            <th>Total MV in Holding</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ticker in tickers %}
        {% proposalTableRow results ticker closingPrices closingDate %}
        {% endfor %}
        <!-- for each ticker, create a row, pass in a ticker to the filter -->
    </tbody>
</table>