{% extends "base.html" %}
{% block headings %}
<h1>Welcome to LotDivider</h1>
<h2>Register</h2>
{% endblock %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="/register">
    {% csrf_token %}
    {{ form }}
    <button>Register</button>
    <a href="/login">Already have an account? Log in here</a>
</form>
{% endblock %}